/* style.css */

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00ffcc;
    background-image: url("pixel_art.gif");
    background-size: cover;
    background-attachment: fixed;

}

header {
    background-color: #1a1a1a;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav a {
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}

header h1 { /*my personal website */
    margin: 0;
    font-size: 4em;
    color: #00ffcc;
}

.container1 {
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
    border: #00ffcc;
    padding: 5px;


}


p{
    color: white;
    font-size: larger;
    border-left: solid white;
    border-right: solid white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2.0;
}

h1 {
    font-size: 6em; /* Adjust the font size as needed */
    color: #00ffcc;
    text-align: center;
}

a {
    color: #00ffcc;
    text-decoration: none;
    padding: 5px;
    transition: border-bottom 0.3s ease;
}

h2{
    text-align: center;
}

 h3{
    text-align: center;

    border-left: solid white;
    border-right: solid white;

 }
 a:hover {
    border-bottom: 0.5px solid #00ffcc;
}